/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: yelaina buford
   Date:   12/3/19

   Filename: rb_validate.css

*/


/* Validation Styles */

