/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: yelaina buford
   Date:   12/3/19

   Filename: rb_validate.css

*/


/* Validation Styles */

input, select:focus, textarea:focus{
   background: rgb(255,255,180) ;
}
input#nameBox:focus:valid, input#phoneBox:focus:valid{
   background: rgb(220,255,220) url(rb_okay.png) right no-repeat;
}
input#nameBox:focus:invalid, input#phoneBox:focus:invalid{
   background: rgb(255, 230, 230) url(rb_warning.png) right no-repeat;
}
